body {
    background-color:#40B9DB;
}

#navbar {
    overflow: hidden;
    margin-right: 380px;
    margin-left: 200px;
    position: relative;
    top: 115px;
}

header {
    position: absolute;
    background-color: #dbcf40;
    width: 100%;
    padding-left: 50px;
    left: 0;
    top: 0;
}

.column {
    float: right;
    width: 11%;
    padding: 35px;
}

#container {
    display: flex;
    gap: 10px;
}

.card {
    font-size: 1.8em;
    background-color: #dbcf40;
    border: solid 5px;
    border-color: #db4070;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    height: 300px;
    margin-top: 116px;
}

.ashley {
    !background-color: #dbcf40;
    display: block;
    !border: solid 5px;
    border-color: #db4070;
    margin-left: 300px;
    position: relative;
    bottom: 100px;
    
}

footer {
    background-color: #dbcf40;
    border-top: solid;
    border-width: 5px;
    border-color: #db4070;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    float: right;
    margin-right: 50px;
}

footer a {
    color: #db4070;
}